@import url("https://fonts.googleapis.com/css?family=Crimson+Text:600|Poppins:300,400,500,600,700&display=swap");

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent; }
  a:hover {
    color: #0056b3;
    text-decoration: underline; }



h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2; }





.hiro-header-carousel {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative; }
  @media (min-width: 768px) {
    .hiro-header-carousel {
      padding-right: 50px;
      padding-top: 50px;
      padding-bottom: 110px; } }
  .hiro-header-carousel .carousel-indicators {
    position: absolute;
    width: 50px;
    right: 0;
    left: auto;
    top: 0;
    bottom: 0;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; }
    @media (max-width: 767px) {
      .hiro-header-carousel .carousel-indicators {
        position: static;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding-top: 20px; } }
    .hiro-header-carousel .carousel-indicators li {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #d8d8d8;
      opacity: 0.18; }
      @media (max-width: 767px) {
        .hiro-header-carousel .carousel-indicators li {
          background-color: #000000; } }
      .hiro-header-carousel .carousel-indicators li.active {
        opacity: 1; }
  .hiro-header-carousel .carousel-item-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.21;
    padding-top: 83px;
    margin-bottom: 28px;
    -webkit-animation-delay: 0.25s;
            animation-delay: 0.25s;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    position: relative; }
    @media (max-width: 767px) {
      .hiro-header-carousel .carousel-item-title {
        font-size: 40px;
        padding-top: 40px; } }
    .hiro-header-carousel .carousel-item-title span {
      position: relative;
      z-index: 2; }
    .hiro-header-carousel .carousel-item-title::before {
      content: attr(data-number);
      position: absolute;
      color: rgba(248, 7, 236, 0.62);
      z-index: 1;
      font-size: 200px;
      left: 0;
      top: 0; }
      @media (max-width: 991px) {
        .hiro-header-carousel .carousel-item-title::before {
          top: -20px; } }
      @media (max-width: 767px) {
        .hiro-header-carousel .carousel-item-title::before {
          font-size: 150px;
          top: -30px; } }
  .hiro-header-carousel .carousel-item-description {
    font-size: 17px;
    line-height: 1.59;
    margin-bottom: 12px;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    -webkit-animation-duration: 1s;
            animation-duration: 1s; }
  .hiro-header-carousel .carousel-item-link {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 52px;
    -webkit-animation-delay: 1.25s;
            animation-delay: 1.25s;
    -webkit-animation-duration: 1s;
            animation-duration: 1s; }
    .hiro-header-carousel .carousel-item-link:hover, .hiro-header-carousel .carousel-item-link:focus {
      color: rgba(0, 0, 0, 0.7);
      text-decoration: none; }
  .hiro-header-carousel .carousel-item-social-links {
    -webkit-animation-delay: 1.25s;
            animation-delay: 1.25s;
    -webkit-animation-duration: 1s;
            animation-duration: 1s; }
    @media (max-width: 767px) {
      .hiro-header-carousel .carousel-item-social-links {
        margin-bottom: 30px; } }
    .hiro-header-carousel .carousel-item-social-links li + li::before {
      content: "";
      display: inline-block;
      width: 6px;
      height: 6px;
      background-color: #000;
      margin-bottom: 3px; }
    .hiro-header-carousel .carousel-item-social-links a {
      font-size: 16px;
      font-weight: 700;
      color: #000000;
      padding-left: 16px;
      padding-right: 16px; }
      .hiro-header-carousel .carousel-item-social-links a:hover, .hiro-header-carousel .carousel-item-social-links a:focus {
        color: rgba(0, 0, 0, 0.7);
        text-decoration: none; }
      @media (max-width: 767px) {
        .hiro-header-carousel .carousel-item-social-links a {
          padding-left: 10px;
          padding-right: 10px;
          font-size: 14px; } }
    .hiro-header-carousel .carousel-item-social-links li:first-child a {
      padding-left: 0; }
    .hiro-header-carousel .carousel-item-social-links li:last-child a {
      padding-right: 0; }

.hiro-section {
  padding: 70px;
  padding-bottom: 90px; }
  @media (max-width: 767px) {
    .hiro-section {
      padding: 35px 20px; } }



.team-section {
  background-color: #050605; }
  .team-section .section-title {
    color: #fff;
    margin-top: 40px;
    margin-bottom: 22px; }
  .team-section .section-text-light {
    color: #d3d3d3;
    margin-bottom: 52px;
    max-width: 336px; }
  .team-section .carousel-control-prev,
  .team-section .carousel-control-next {
    position: static;
    display: inline-block; }
  .team-section .carousel-control-prev {
    margin-right: 30px; }

.hiro-team-carousel .carousel-item {
  padding: 10px; }

.hiro-team-carousel .team-card {
  padding: 40px 0;
  position: relative; }
  .hiro-team-carousel .team-card::before {
    content: "";
    display: block;
    height: 8px;
    width: 40%;
    background-image: url("../images/Team_line.png");
    background-size: auto 8px;
    position: absolute;
    left: 0;
    top: 0; }
  .hiro-team-carousel .team-card .team-member-thumbnail {
    width: 100%;
  height: 200px !important; }
  .hiro-team-carousel .team-card .team-member-details {
    position: absolute;
    background-color: #fff170;
    padding: 20px 22px;
    bottom: 0;
    right: -5px;
 }
    .hiro-team-carousel .team-card .team-member-details .team-member-name {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.13;
      color: #000;
      margin-bottom: 0; }
    .hiro-team-carousel .team-card .team-member-details .team-member-title {
      font-size: 12px;
      line-height: 1.5;
      color: #000;
      margin-bottom: 0; }
  .hiro-team-carousel .team-card.featured .team-member-details {
    background-color: #17a8ec; }







    